<h1>Editing user area</h1>

<%= render "form", user_area: @user_area %>

<br>

<div>
  <%= link_to "Show this user area", @user_area %> |
  <%= link_to "Back to user areas", user_areas_path %>
</div>
