<p style="color: green"><%= notice %></p>

<h1>User areas</h1>

<div id="user_areas">
  <% @user_areas.each do |user_area| %>
    <%= render user_area %>
    <p>
      <%= link_to "Show this user area", user_area %>
    </p>
  <% end %>
</div>

<%= link_to "New user area", new_user_area_path %>
