<footer>
    <div class="left text">
        All rights reserved. - Privacy Policy - Terms of Services
    </div>

    <div class="right text">
        Supported by MyPOD Company - 2022 MyPOD.
    </div>
</footer>