<p style="color: green"><%= notice %></p>

<h1>Cards</h1>

<div id="cards">
  <% @cards.each do |card| %>
  <a href="/cards/<%=card.id%>">
    <%= render card %>
  </a>
  <% end %>
</div>

<%= link_to "New card", new_card_path %>
