.dashboard{

    &-content{
        display: flex;
        margin-top: 16px;
        padding: 16px;
    }

    &-news{
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &-cards{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: center;
        gap: 32px;
        margin-bottom: 64px;
    }

    &-filter{
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        box-sizing: border-box;

        &-reset{
            button{
                width: 100%;
            }
            width: 100%;
            margin-bottom: 12px;
        }

        &-general{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
        }
        
        
        &-btn{
            color: #3000ff;
            font-weight: 600;
            width: max-content;
            border: 1px solid #7A5CFA;
            background-color: transparent;
            padding: 8px;
            border-radius: 4px;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover{
                background-color: #f6f4ff;
                border-color: transparent;
            }
        }
        
    }
}